/*@import url('https://fonts.googleapis.com/css2?family=Dangrek&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dangrek&family=Leckerli+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dangrek&family=Leckerli+One&family=Source+Sans+3:wght@200&display=swap');
*/

.blog__title {
    font-family: 'Leckerli One', cursive;
    font-size: 14px;
    display: block;
}

.blog__name {
    font-family: 'Dangrek', cursive;
    font-size: 34px;
    display: block;
}

.blog__description {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 20px; 
    color: rgb(225, 221, 232);
    display: block;
}

.article__title {
    font-family: 'Dangrek', cursive;
    font-size: 22px;
    font-weight: 400;
    display: block;
}

.blog {
    padding: 60px 24px;
    text-align: center;
}

.blog__articles img {
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    border-radius: 6px;
}

.article__description {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 18px; 
    color: rgb(185, 177, 197);
    display: block;
}

.blog__button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #32264b;
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Source Sans 3', sans-serif; ;
}

.button:hover {
    background-color: #333;
}

.blog__articles {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    /*align-content: space-around;*/
}


@media (min-width: 768px) {
    .blog__articles {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 998px) {
    .blog__articles {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
